body{
	width:1000px;
	margin:10px auto;
	}
#content-wrapper{
	overflow:hidden;
	}
#content-main{
	min-height:300px;
	float:right;
	width:793px;
	background-color:#FFF;
	border:1px #CCC solid;
	padding:0 0 30px 0;
	}

#content-sidebar{
	float:left;
	width:205px;
	}
#footer{
	clear:both;
	width:1000px;
	}
/*«á¥x­º­¶*/
#content-admin{
	text-align:center;
	margin:0 auto;
	height:280px;
	width:480px;
	background-color:#FFF;
	border:1px #CCC solid;
	padding:0 0 30px 0;
	}
